sentence-transformers
fastapi
uvicorn
dotenv
python-multipart
pypdf
python-docx
faiss-cpu
rank_bm25
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
opentelemetry-exporter-prometheus
langchain_core
langchain_community
langchain_ollama
langchain_huggingface